:root {
    --primary-background: #0a1c4f;
    --button-color: #009DD5;
    --text-color: #D5DEE3;
    --button-text: #0a1c4f;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--primary-background);
}

/* Header and Navigation */
nav, header {
    background-color: var(--primary-background);
    padding-bottom: 10px;
}

/* Typography */
.headingOne, .headingTwo, .headingThree, .paragraph, .modal-title .headingOne, p {
    font-family: 'Agbalumo', Arial, Helvetica, sans-serif;
    color: var(--text-color);
    text-align: center;
    padding: 20px;
}

/* Footer */
footer {
    background-color: var(--text-color);
    padding-left: 20px;
    padding-right: 20px;
}

/* Page Layout */
.body-wrapper {
    margin: 0;
    background-color: var(--primary-background);
}

/* Image Container */
.image-container {
    overflow: hidden;
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: center bottom;
}

.image-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center bottom;
    filter: brightness(60%);
}

.overlay-text {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    padding: 10px 20px;
    font-size: 30px;
    text-align: center;
    z-index: 1;
}

/* Buttons */
.cardButton, .actionButtonTwo, .cardButton {
    background-color: var(--button-color);
    margin-top: 5px;
}

.btn-outline-success, .actionButtonTwo {
    color: var(--text-color);
}

/* Card Styles */
.cards, .user, .listing-content, .user-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-cards, .user-card {
    border: 1px solid var(--text-color);
    background-color: rgba(213, 222, 227, 0.47);
    border-radius: 10px;
    width: 300px;
    padding: 10px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.listing-cards {
    margin-bottom: 4px;
    padding: 3px;
    border: 1px solid #000;
    border-radius: 5px;
}

/* Images */
.card-image, .homeInformationImage, .avatarImage {
    height: 250px;
    width: 250px;
    padding: 5px;
    object-fit: cover;
    margin-bottom: 20px;
}

/* Bid Form */
.bid-form {
    border-radius: 5px;
}

/* Home Information */
.homeInformation, .homeInformation p {
    background-color: var(--primary-background);
    color: var(--text-color);
    padding: 10px;
    text-align: center;
}

.homeInformationImage {
    max-width: fit-content;
}